<div class="container">
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2 class="mt-4">
    Edit Game
  </h2>
  <form class="edit-game-form">
    <div>
      <h3 class="text-capitalize my-lists pb-3">{{game.title}}</h3>
    </div>
    <div>
      <div >
        {{#if game.image_url}}
        <img class="game-img" src={{game.image_url}}>
        {{else}}
        <img src="https://us.123rf.com/450wm/vectorplusb/vectorplusb1903/vectorplusb190300095/118161220-error-404-page-not-found-website-404-web-failure-oops-trouble-internet-warning-design-.jpg?ver=6" alt="game image">
        {{/if}}
      </div>
      <div>
        {{#if game.url}}
        <a href={{game.url}}>{{format_url game.url}}</a>
        {{else}}
        <a href="https://www.boardgameatlas.com/">Board game site</a>
        {{/if}}
        {{#if game.description}}
        <div>{{{game.description}}}</div>
        {{else}}
        <p>No description found. Please check the game title.</p>
        {{/if}}
      </div>
    </div>
    {{!-- <button type="submit">Save Game</button> --}}
    <button type="button" class="delete-game-btn">Delete game</button>
  </form>
</article>
<script src="/javascript/delete-game.js"></script>
